---
layout: framework
sidebar: archive-list
---
<table>
    <thead>
        <tr>
            <th>Module Name</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Module 1</td>
            <td>Introduction to Programming</td>
            <td><a href="https://example.com/module1" target="_blank">View Module</a></td>
        </tr>
        <tr>
            <td>Module 2</td>
            <td>Data Structures and Algorithms</td>
            <td><a href="https://example.com/module2" target="_blank">View Module</a></td>
        </tr>
        <tr>
            <td>Module 3</td>
            <td>Web Development Fundamentals</td>
            <td><a href="https://example.com/module3" target="_blank">View Module</a></td>
        </tr>
        <tr>
            <td>Module 4</td>
            <td>Database Management Systems</td>
            <td><a href="https://example.com/module4" target="_blank">View Module</a></td>
        </tr>
        <tr>
            <td>Module 5</td>
            <td>Software Engineering Principles</td>
            <td><a href="https://example.com/module5" target="_blank">View Module</a></td>
        </tr>
    </tbody>
</table>

{%- if site.posts.size > 0 -%}

  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html %}

{%- endif -%}
