---
layout: framework
sidebar: archive-list
---

# My Modules

Here is a table of my modules with links to each one.

| Module Name       | Description                          | Link                                                   |
|-------------------|--------------------------------------|--------------------------------------------------------|
| Module 1          | Introduction to Programming          | [View Module](https://example.com/module1)             |
| Module 2          | Data Structures and Algorithms       | [View Module](https://example.com/module2)             |
| Module 3          | Web Development Fundamentals         | [View Module](https://example.com/module3)             |
| Module 4          | Database Management Systems         | [View Module](https://example.com/module4)             |
| Module 5          | Software Engineering Principles      | [View Module](https://example.com/module5)             |

{%- if site.posts.size > 0 -%}

  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html %}

{%- endif -%}
