---
layout: framework
sidebar: tag-list

---
<table>
    <thead>
        <tr>
            <th>Module Name</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Module 1</td>
            <td>Understanding Artificial Intelligence</td>
            <td><a href="Module1.html">View Module</a></td>
        </tr>
        <tr>
            <td>Module 2</td>
            <td>Numerical Analysis</td>
            <td><a href="Module2.html">View Module</a></td>
        </tr>
        <tr>
            <td>Module 3</td>
            <td>Machine Learning</td>
            <td><a href="Module2.html">View Module</a></td>
        </tr>
    </tbody>
</table>


{%- if site.posts.size > 0 -%}

  {%- include functions.html func='log' level='debug' msg='Get tags value' -%}
  {%- include functions.html func='get_tags' -%}
  {% assign tags = return %}

  {% assign keys = tags %}
  {% assign field = 'tags' %}
  {%- include views/segments.html -%}

{%- endif -%}
